# Byte-compiled / optimized / DLL files
venv/		# Exclude virtual environment (if any, using conda env)
/__pycache__/	# Exclude the whole folder
*.py[cod]	# Will match .pyc, .pyo and .pyd files 
*$py.class
*.ipynb_checkpoints/*
SMS_SpamDetect/.ipynb_checkpoints/*
SMS_SpamDetect/custom/.ipynb_checkpoints/*
SMS_SpamDetect/custom/__pycache__/*
SMS_SpamDetect/old/.ipynb_checkpoints/*
SMS_SpamDetect/old/__pycache__/*
