# Byte-compiled / optimized / DLL files
venv/		# Exclude virtual environment (if any, using conda env)
/__pycache__/	# Exclude the whole folder
*.py[cod]	# Will match .pyc, .pyo and .pyd files 
*$py.class
*.ipynb_checkpoints/*
data/1_raw/*
/data/2_processed/*
/data/3_modeling/*
/data/4_evaluation/*
/custom/__pycache__/*
/old/.ipynb_checkpoints/*
