# Byte-compiled / optimized / DLL files
venv/		# Exclude virtual environment (if any, using conda env)
/__pycache__/	# Exclude the whole folder
*.py[cod]	# Will match .pyc, .pyo and .pyd files 
*$py.class
*.ipynb_checkpoints/*
SMS_SpamClassifier/.ipynb_checkpoints/*
SMS_SpamClassifier/old/.ipynb_checkpoints/*
SMS_SpamClassifier/__pycache__/
SMS_SpamClassifier/custom/__pycache__/
/custom/__pycache__/
/old/.ipynb_checkpoints/*
